<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.niuwa">
    <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".splashActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".compositionList.CompositionListActivity"/>
        <activity android:name=".excellentComposition.CompositionInfo"/>
        <activity android:name=".excellentComposition.CompositionDetail"/>
        <activity android:name=".competition.TipsActivity"/>
        <activity android:name=".competition.CurrentActivity"/>
        <activity android:name=".competition.NoticeActivity"/>
        <activity android:name=".competition.UploadActivity"/>
        <activity android:name=".competition.RecordingActivity"/>
        <activity android:name=".competition.MemberActivity"/>
        <activity android:name=".my.MyActivity"/>
        <activity android:name=".my.JoinUsActivity"/>
        <activity android:name=".my.AboutUsActivity"/>
        <service android:name="com.zlw.main.recorderlib.recorder.RecordService" />

    </application>

</manifest>